@media (max-width: 991px) {
    .app{
        height: 100vh;
        width: 100%;
    }
}

@media (max-width: 780px) {
    header {
        margin-bottom: 33rem;
    }
    header nav .logo img{
        width: 45vw;
        margin: auto;
    }
    header nav .mute_btn {
        top: 6rem;
        right: 2rem;
    }
    .buy a img{
        width: 40vw;
        margin: auto;
    }
    .social {
        padding: 1rem 0;
    }
    .social .link{
        width: 8.2vw;
    }
    .contract h3{
        font-size: 3vw;
    }
    .contract p{
        font-size: 2vw;
        text-wrap: wrap !important;
    }
}